:root {
	--white: #fff;
	--navy: #0e2549;
	--grey: #3e5879;
	--beige: #d8c4b6;
	--light-beige: #f1f1f1;
}

@font-face {
	font-family: "Poppins";
	src: url("/dist/assets/fonts/Poppins-Regular.ttf");
	font-weight: 100;
}
@font-face {
	font-family: "Poppins";
	src: url("/dist/assets/fonts/Poppins-SemiBold.ttf");
	font-weight: 600;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 100;
}

html {
	font-size: 16px;
}

body {
	position: relative;
	font-size: 0.8rem;
	background-color: var(--white);
}

button {
	font-size: 0.7rem;
}

a {
	color: black;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	margin: 0.7em 0;
}
h1 {
	font-size: 1.6rem;
}
h2 {
	font-size: 1.3rem;
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: 0.85rem;
}
h5 {
	font-size: 0.8rem;
}
section,
footer {
	padding: 10px 30px;
	line-height: 1.5;
}
strong {
	font-weight: bold;
}

.left-header {
	text-align: left;
	align-self: flex-start;
}

.center-header {
	text-align: center;
	align-self: center;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
/*================= HEADER ===================*/

.stock-ticker {
	font-size: 1rem;
	display: flex;
	gap: 2rem;
	overflow: hidden;
	user-select: none;
	--gap: 20px;
	gap: var(--gap);
	background: var(--navy);
}

.stock-ticker ul {
	padding: 0.5rem;

	flex-shrink: 0;
	min-width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;

	color: var(--white);
	animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}

/*===================== CONTACT DATA ===================== */
.contact-data {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.contact-data h3 {
	margin-bottom: 0.5em;
}

.contact-link a {
	text-decoration: none;
	color: inherit;
}
.contact-link {
	margin: 0.3em;
}

/*===================== MOBILE NAV =========================*/

.nav-section {
	position: relative;
	background: var(--light-beige);
	padding: 0.7em;
}

.logo-header {
	display: none;
}
.logo {
	width: 200px;
	margin-left: 10px;
}

.burger-button {
	position: absolute;
	z-index: 1000;
	top: 25px;
	right: 35px;
}

.icon {
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	background: transparent;
}
.nav-menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: -1000px;
	height: 100%;
	width: 100%;
	background: var(--white);
	overflow-y: auto;
	transition: left 0.6s ease-in-out;
	box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
	z-index: 1001;

	padding: 0;
}

.nav-menu.show {
	left: 0;
}

.nav-menu li {
	text-align: center;

	padding: 15px 20px;
}

.title-section {
	padding: 2em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-title {
	position: absolute;
	top: 50px;
	margin-left: 15px;
}
.close-menu {
	position: absolute;
	top: 25px;
	right: 35px;
	font-size: 2rem;
}
.nav-menu li a.active {
	background-color: var(--navy);
	color: white;
	padding: 5px 20px;
	border-radius: 20px;
	text-align: center;
	display: inline-block;
}
.nav-menu li a.active i,
.nav-menu li a:hover i {
	color: white;
}
.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 10px 0;

	z-index: 1000;
}

.sub-menu li a,
.nav-menu li a {
	width: 250px;
	display: block;
	padding: 5px 20px;
	color: #333;
	text-decoration: none;
}

.sub-menu li a:hover,
.nav-menu li a:hover {
	background-color: var(--navy);
	color: var(--white);
	border-radius: 15px;
}

.menu-item .dropdown-toggle i {
	transition: transform 0.3s ease;
}

.menu-item.active .dropdown-toggle i {
	transform: rotate(-90deg);
}

.menu-item.active .sub-menu {
	display: block;
}
.menu-item {
	position: relative;
}
.menu-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #333;
	padding: 0.5rem 1rem;
	position: relative;
}

.menu-item i {
	position: absolute;
	right: 10px;
	font-size: 1rem;
	color: #333;
}

/* ================== DESKTOP NAV =============== */
.desktop-nav {
	display: none;
	background-color: var(--light-beige);
}

.menu {
	display: flex;

	padding: 0;
	margin: 0;
}

.menu > li {
	position: relative;
	flex: 1;
	text-align: center;
}

.menu > li a {
	display: block;
	padding: 15px 10px;
	color: black;
	text-decoration: none;
	transition: background-color 0.3s;
}

.menu > li:hover > a,
.menu > li.active > a {
	background-color: var(--grey);
	color: var(--white);
}

.menu > li a:hover {
	background-color: var(--grey);
	color: var(--white);
}

.submenu {
	display: none;
	position: absolute;
	top: 100%;
	left: -8%;
	background-color: var(--grey);

	padding: 0;
	margin: 0;
	min-width: 200px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.submenu li a {
	padding: 10px 15px;
	color: white;
	text-decoration: none;
	display: block;
}

.submenu li a:hover {
	background-color: var(--navy);
}

.menu > li:hover .submenu {
	display: block;
	animation: slideup 0.3s ease;
}

.menu > li:hover {
	cursor: pointer;
}

.menu > li:hover .submenu {
	display: block;
	animation: slideup 0.3s ease;
}

.menu > li.active .submenu {
	display: block;
	animation: slideup 0.3s ease;
}

.menu > li.active > a {
	background-color: var(--grey);
	color: var(--white);
}

.activeDesktop {
	background: var(--beige);
}

@keyframes slideup {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

/* ====================== IMAGE HEADER ================== */

.image-section {
	background: var(--navy);
	height: 200px;
}

.image-section img {
	width: 100%;
	height: 95%;
	object-fit: cover;
}
/*====================== MAIN PAGE PREMIUM =====================*/

.main-title,
.subheading {
	font-weight: bold;
	margin: 1em 0;
}

.subheading {
	text-align: left;
}

.product-list li {
	font-weight: bold;
}

.container-image {
	width: 90%;
	max-width: 500px;
	margin: 1em auto;
	display: block;
}
.navy-section {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/*===================== CARDS CONTAINER ==============*/

.containers-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
}

.container-card {
	position: relative;
	width: 100%;
	max-width: 400px;
	height: 525px;
	overflow: hidden;
	flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	-webkit-box-shadow: 0px 4px 16px -9px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 4px 16px -9px rgba(66, 68, 90, 1);
	box-shadow: 0px 4px 16px -9px rgba(66, 68, 90, 1);
}

.container-card:nth-child(odd) {
	background-color: var(--navy);
	color: var(--white);
}

.container-card:nth-child(even) {
	background-color: var(--white);
	color: black;
}

.container-card img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	object-position: center center;
	transition: transform 0.8s ease;
}

.container-card:hover img {
	transform: scale(1.1);
}

.card-text {
	padding: 10px 20px;
}
.container-card h2 {
	font-size: 1.2rem;
}

.container-card p {
	margin: 0 0 10px 0;
}

.container-card button {
	position: absolute;
	bottom: 15px;
	width: 50%;
	max-width: 200px;
	padding: 10px;
	background-color: transparent;
	color: white;
	border: 1px solid var(--white);
	border-radius: 25px;
	cursor: pointer;

	transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
	margin-top: 1em;
}
.container-card:nth-child(odd) button {
	border: 1px solid var(--white);
	color: var(--white);
}
.container-card:nth-child(even) button {
	border: 1px solid var(--navy);
	color: var(--navy);
}

.container-card:hover button {
	background: var(--light-beige);
	border: 1px solid var(--light-beige);
	color: var(--navy);
}
.container-card button:hover {
	background: var(--grey);
	border: 1px solid var(--grey);
	color: var(--white);
}

/*===================== OPINION SECTION ==================*/

.opinion {
	text-align: center;
	padding: 20px;
}

.opinion-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--navy);
	padding: 15px 0;
	margin: 15px 0;
}

.opinion-box {
	width: 100%;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.opinion-box i {
	font-size: 2.3rem;
	margin-bottom: 0.5em;
}

.client-name {
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
}

.client-opinion {
	margin-bottom: 1.5em;
}

/*========================= SECTION WITH MAP ===================*/
.container-map-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container-map {
	margin-top: 50px;
	max-width: 100%;
	height: auto;
}
.container-list {
	align-self: flex-start;
	padding-left: 20px;
}

/* .description {
	text-align: center;
} */

/*========================= CAROUSEL SECTION =====================*/

.carousel-gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
}

.carousel {
	width: 100%;
	max-width: 750px;
	height: 80%;
	position: relative;
}
.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-in-out;
	transition-delay: 100ms;
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.slide[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: 0;
}

.carousel > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.carousel-button {
	position: absolute;
	z-index: 2;
	background: none;
	border: none;
	font-size: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}
.carousel-button:focus {
	outline: 1px solid black;
}

.carousel-button.prev {
	left: 0;
}
.carousel-button.next {
	right: 0;
}

.background {
	background: var(--light-beige);
}

/*======================== TRANSPORT SECTION ====================*/

.transport-section,
.sales-description,
.navy-section {
	background: var(--navy);
	color: var(--white);
}

.button {
	width: 50%;
	max-width: 200px;
	padding: 10px;
	background-color: var(--light-beige);
	color: black;
	border: 1px solid var(--light-beige);
	border-radius: 25px;
	cursor: pointer;

	transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
	margin-top: 1em;
}

.button:hover {
	background: var(--grey);
	border: 1px solid var(--grey);
	color: var(--white);
}

.transport {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.transport-box h2 {
	text-align: left;
}

.transport img {
	width: 100%;
	margin: 1em 0;
}

/*========================== HERO IMAGE SECTION ==================*/

.hero {
	padding: 0;
}

.hero-image {
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px;
}

.image1 {
	background-image: -webkit-linear-gradient(
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
		url("../img/kontenery-handlowe-2.webp");
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/kontenery-handlowe-2.webp");
}
.image2 {
	background-image: -webkit-linear-gradient(
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
		url("../img/kontakt/contact-us.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/kontakt/contact-us.jpg");
}

.hero-image h2 {
	margin: 0;
	margin-bottom: 0.3em;
}

.hero-image .button {
	margin-bottom: 0.5em;
}

.hero-text {
	color: var(--white);
	text-align: center;
	border: 3px solid var(--beige);
	border-radius: 15px;
	padding: 10px;
}

/*======================= SPECJALIST SECTION ===================*/
.specjalist-contact img {
	width: 100%;
	margin: 1em 0 0 0;
}

.about-description h2,
.specjalist-contact h2 {
	text-align: left;
}
.contact-person {
	margin-bottom: 1em;
}

.contact-person a {
	text-decoration: none;
	color: var(--beige);
}

.contact-page a {
	color: var(--grey);
}
.contact-page {
	padding: 10px;
}

/*===================== FOOTER SECTION ==========================*/
footer {
	background: var(--light-beige);
}
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-nav ul {
	text-align: center;
	margin-top: 1em;
}

.footer-nav a {
	text-decoration: none;
	transition: color 0.3s;
}
.footer-nav li {
	margin-bottom: 10px;
}
.footer-nav a:hover {
	color: var(--beige);
}
.contact-info {
	font-size: 0.9rem;
}
.address-info,
.email-info,
.phone-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1em;
}
.address-info i,
.email-info i,
.phone-info i {
	font-size: 2rem;
}

.icon-desc {
	margin: 0.4em;
	font-weight: bold;
}

.address-info a,
.email-info a,
.phone-info a {
	text-decoration: none;
	color: var(--navy);
}

.footer-info {
	text-align: center;
	font-size: 0.6rem;
}

.activeFooter {
	color: var(--beige);
	background: var(--navy);
	border-radius: 20px;
	padding: 5px 15px;
}

/*=========================================================*/
/*=======================GALLERY==================*/
/*=========================================================*/

.img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
	margin-top: 1.5em;
}

.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper div:nth-child(3n -2) {
	grid-column: unset;
	grid-row: unset;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

.modal-content {
	width: 100%;
	max-width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-img {
	width: 100%;
	height: auto;
	max-width: 100%;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.modal-nav {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

.modal-nav-btn {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	font-size: 2rem;
	padding: 10px;
	cursor: pointer;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#prev-btn {
	left: 0px;
}

#next-btn {
	right: 0px;
}

.modal-nav-btn:hover {
	opacity: 1;
}

.close-btn {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 3rem;
	color: var(--light-beige);
	cursor: pointer;
	transition: color 0.3s;
}

.close-btn:hover {
	color: var(--beige);
}
/*=========================================================*/
/*=========================================================*/
/*=========================================================*/

/*====================== SUBPAGE ========================*/
.subpage-img {
	width: 100%;
	margin-bottom: 1em;
}

.not-found-img {
	max-width: 500px;
}

.subpage h4 {
	font-size: 0.9rem;
}
.fa-arrow-right {
	font-size: 0.8rem;
	color: var(--beige);
	margin-right: 0.5em;
}

.nested-list {
	margin-left: 20px;
	list-style-type: none;
}

.nested-list li {
	margin-bottom: 5px;
}

.size-list {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
}
.size-list li {
	margin: 0.3em;
}

.subpage section {
	padding: 0 30px;
}

.subpage section:last-of-type {
	margin-bottom: 1.5em;
}

ol ol {
	margin-top: 0.5em;
	padding-left: 2em;
}
ol ol li {
	padding-left: 0.5em;
}

.why {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.question-box {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.question-box-item {
	width: 100%;
}

/* ========================= COLOR PAGE ================== */
.color-box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

.color-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: calc(33.33% - 1rem);
	max-width: 250px;
	min-width: 200px;
}

.color {
	width: 100%;
	aspect-ratio: 1;
}

.color-box p {
	font-weight: bold;
	font-size: 1rem;
	margin: 0.5em;
}

#ral-1015 {
	background: rgb(231, 210, 179);
}
#ral-3000 {
	background: rgb(167, 41, 32);
}
#ral-5003 {
	background: rgb(31, 56, 85);
}
#ral-5010 {
	background: rgb(0, 80, 125);
}
#ral-6011 {
	background: rgb(108, 124, 89);
}
#ral-7024 {
	background: rgb(69, 73, 78);
}

#ral-7035 {
	background: rgb(197, 200, 196);
}
#ral-9006 {
	background: rgb(160, 162, 158);
}
#ral-9007 {
	background: rgb(134, 131, 126);
}
#ral-9010 {
	background: rgb(241, 236, 225);
}

/*============== ADDITIONS ==================*/

.image-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.image-container-item {
	width: 100%;
	max-width: 375px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: 0.5em;
}
.image-container-item img {
	width: 100%;
	max-width: 350px;
}

/*============== REALIZATIONS =================*/

.realizations {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.realization {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 350px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.main-img {
	width: 100%;
	border-radius: 5px;
}

.main-img:hover {
	cursor: pointer;
}

.realization img {
	width: 100%;
	height: auto;
}

/*============== FORM ======================*/

.contact-form-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}

.contact-form {
	width: 100%;
	max-width: 600px;
}

.contact-form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: var(--grey);
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 0.9rem;
	background-color: var(--light-beige);
}

.contact-form textarea {
	resize: none;
}

.consent {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.consent input {
	appearance: none;
	flex: 1;
	margin-right: 20px;
	width: 20px;
	height: 20px;
	border: 2px solid #333;
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	background: transparent;
}

.contact-form .consent input[type="checkbox"]::after {
	content: "✔";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0) rotate(-90deg);
	font-size: 16px;
	font-weight: bold;
	color: black;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.contact-form .consent input[type="checkbox"]:checked::after {
	transform: translate(-50%, -50%) scale(1) rotate(0deg);
	opacity: 1;
}

.contact-form .consent label {
	font-size: 0.7rem;
	color: #333;
	text-align: justify;
	line-height: 1.5;
	cursor: pointer;
}

.contact-form button {
	margin-top: 10px;
	background-color: var(--navy);
	color: var(--white);
	padding: 10px 15px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	width: 150px;
	transition: background 0.3s;
}

.contact-form button:hover {
	background: var(--grey);
}

.error,
.er {
	color: red;
	font-size: 0.7rem;
	margin-bottom: 5px;
	opacity: 0;
}

.error-main {
	color: red;
	font-weight: bold;
	font-size: 0.9rem;
	opacity: 0;
}

input.error-border,
textarea.error-border {
	border: 2px solid red;
}

.info-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info-box h2 {
	color: var(--beige);
}
/*============== MAP ================*/
.map-container {
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 0;
}

.map-container iframe {
	width: 100%;
	border: none;
}

/*============== BREADCRUMB =================*/
.breadcrumb-container {
	padding: 20px 30px 0 30px;
	font-size: 0.7rem;
}

.breadcrumb {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.breadcrumb span {
	margin-right: 10px;
	line-height: 25px;
	height: 25%;
}

.breadcrumb span:hover {
	text-decoration: none;
}

.breadcrumb span:after {
	content: "/";

	margin-left: 10px;
}

.breadcrumb span:last-child:after {
	content: "";
}

@media (min-width: 420px) {
	.carousel-gallery {
		height: 350px;
	}
}

@media (min-width: 526px) {
	.modal-img {
		max-width: 70%;
	}

	.grid-wrapper div:nth-child(3n -2) {
		grid-column: span 2;
	}

	.grid-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
		grid-auto-rows: 175px;
	}
	.realization {
		max-width: 300px;
	}
	.carousel-gallery {
		height: 450px;
	}
}

@media (min-width: 768px) {
	.carousel-gallery {
		height: 550px;
	}
	.carousel-button {
		font-size: 2rem;
	}
}

/*====================== DESKTOP VERSION ===================*/
@media (min-width: 992px) {
	body {
		font-size: 0.9rem;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.6rem;
		text-align: center;
		margin: 1.2em 0 1em 0;
	}
	h3 {
		font-size: 1.3rem;
	}

	/*==================== HEADER ===================*/
	.contact-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
	}
	.contact-data {
		flex-direction: row;
	}
	.logo-header {
		display: block;
	}
	.logo-nav {
		display: none;
	}
	.contact-data h3 {
		margin: 0;
		margin-right: 20px;
	}
	.image-section {
		height: 600px;
	}
	/*===================== NAV ================== */
	.nav-section {
		display: none;
	}
	.desktop-nav {
		display: block;
	}
	/*======================= MAIN PAGE ================*/
	.about {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px;
	}
	.about-box {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		margin-right: 70px;
	}
	.container-image {
		max-width: 700px;
		max-height: 700px;
		width: 50%;
	}

	/*======================= CARDS CONTAINER ================*/
	.containers-cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.container-card {
		height: 500px;
		font-size: 0.8rem;
	}
	/*======================== OPINION SECTION ================*/
	.opinion-group {
		flex-direction: row;
		gap: 15px;
	}
	.opinion-box {
		width: 48%;
	}
	.client-name {
		font-size: 1.3rem;
	}

	/*======================== MAP SECTION =====================*/
	.container-map-section {
		flex-direction: row;
		text-align: left;
	}

	.container-map-section .intro-text {
		text-align: left;
	}
	.container-map {
		max-width: 50%;
	}

	.container-map-text {
		max-width: 50%;
		padding-left: 20px;
	}
	/*======================== TRANSPORT SECTION ====================*/
	.transport {
		flex-direction: row;
	}

	.transport img {
		margin-left: 2em;
		width: 48%;
	}

	.transport-box {
		max-width: 48%;
	}
	.button {
		margin: 2em 0;
	}
	/*======================= HERO IMAGE SECTION =====================*/
	.hero-image {
		height: 400px;
	}
	.hero-text {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
		padding: 30px;
	}
	.hero-box {
		width: 48%;
	}
	.hero-text h2 {
		width: 30%;
	}
	/*========================= SPECJALIST SECTION =====================*/
	.about-description,
	.specjalist-contact {
		margin: 30px 0;
	}
	.specjalist-contact {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 50px;
	}
	.specjalist-contact img {
		width: 60%;
	}
	/*=========================== REALIZATIONS =========================*/
	.realization {
		max-width: 350px;
	}
	/*=========================== FOOTER =========================*/
	.footer-nav {
		width: 100%;
	}
	.footer-nav ul {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		margin-bottom: 50px;
	}

	.footer-nav li {
		margin-bottom: 0;
	}

	.footer-nav li:last-child {
		margin-right: 0;
	}
	.contact-info,
	.footer-info {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: flex-start;
		flex-direction: row;
	}

	.footer-info {
		margin: 0.7em 0;
		justify-content: space-between;
		font-size: 0.8rem;
	}
	.contact-page {
		margin-right: 50px;
	}

	/*====================== IMAGE GALLERY ======================== */
	.modal-content {
		width: 70%;
		max-width: 70%;
	}
	.modal-img {
		max-height: 80vh;
		width: auto;
	}
	/*====================== SUBPAGE =========================*/
	.subpage h4 {
		font-size: 1.1rem;
	}
	.subpage-image-section {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 1em;
	}
	.subpage-img {
		width: 45%;
		margin-right: 2em;
		margin-bottom: 0;
	}

	.size-list {
		flex-direction: row;
		justify-content: flex-start;
		gap: 200px;
	}
	.breadcrumb-container {
		font-size: 0.9rem;
	}
	.question-box {
		gap: 20px;
	}
	.question-box-item {
		max-width: 350px;
		text-align: center;
	}
	/*================== FORM ================*/
	.contact-form-container h2 {
		margin: 0;
	}
}
